<footer id="footer">
  <div id="intro" class="flex-row">
    <div class="logo flex-row-item">
      <a
        class=""
        href="/"
        target="_self"
        rel="noreferrer noopener"
        aria-label="Buffalo Compute Link"
        type="link"
        ><img
          src="/assets/BuffaloComputeAppAlt.png"
          loading="eager"
          height="30"
          width="30"
          alt="Buffalo Compute Logo"
      /></a>
    </div>
    <div class="text flex-row-item">
      <p>Buffalo Compute | Technology as a Community | Established in 2024</p>
    </div>
  </div>
  <hr />
  <div id="outro" class="flex-row">
    <div class="text flex-row-item">
      <p>Follow Buffalo Compute</p>
    </div>
    <div class="menu flex-row-item">
      <ul class="flex-row">
        <li class="flex-row-item">
          <a
            class=""
            href="https://x.com/buffalocompute"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="X Link"
            type="link"
            ><img
              src="/assets/XLogo.png"
              loading="eager"
              height="30"
              width="30"
              alt="X Link Icon"
          /></a>
        </li>
        <li class="flex-row-item">
          <a
            class=""
            href="https://www.linkedin.com/company/buffalocompute/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="LinkedIn Link"
            type="link"
            ><img
              src="/assets/LinkedInLogo.png"
              loading="eager"
              height="30"
              width="30"
              alt="LinkedIn Link Icon"
          /></a>
        </li>
        <li class="flex-row-item">
          <a
            class=""
            href="https://www.youtube.com/@buffalocompute/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="YouTube Link"
            type="link"
            ><img
              src="/assets/YouTubeLogo.png"
              loading="eager"
              height="30"
              width="30"
              alt="YouTube Link Icon"
          /></a>
        </li>
        <li class="flex-row-item">
          <a
            class=""
            href="https://www.facebook.com/buffalocompute/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Facebook Link"
            type="link"
            ><img
              src="/assets/FacebookLogo.png"
              loading="eager"
              height="30"
              width="30"
              alt="Facebook Link Icon"
          /></a>
        </li>
        <li class="flex-row-item">
          <a
            class=""
            href="https://www.instagram.com/buffalocompute/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Instagram Link"
            type="link"
            ><img
              src="/assets/InstagramLogo.png"
              loading="eager"
              height="30"
              width="30"
              alt="Instagram Link Icon"
          /></a>
        </li>
        <li class="flex-row-item">
          <a
            class=""
            href="https://www.threads.net/@buffalocompute/"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Threads Link"
            type="link"
            ><img
              src="/assets/ThreadsLogo.png"
              loading="eager"
              height="30"
              width="30"
              alt="Threads Link Icon"
          /></a>
        </li>
      </ul>
    </div>
    <div class="copyright flex-row-item">
      <span>© Buffalo Compute 2024</span>
    </div>
  </div>
</footer>
